body{
    font-family: 'Domine', serif;
    margin: 0;
}

h1{
    font-size: 50px;
    
}

#m01{
    color: green;
}

.section2{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding: 2%;
}

.clock {
    color: blue;
    background-image: linear-gradient(rgb(100, 219, 100),rgb(238, 238, 69));
    width: auto;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.74rem;
    text-align: center;
}

.half-width img{
    width: 82%;
}

.button-style{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
}

.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.canadian{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.mission-color{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
}

.business{
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#sa{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#ba{
    border-left: 10px solid;
    border-image: linear-gradient(red,lightpink);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    font-weight: 400;
}